* {box-sizing: border-box;}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.headerContainer{
    max-width: 900px;
    margin: 40px auto;
}
.container{
    display: flex;
    max-width: 900px;
    margin: auto;
}
.container .leftSide{
    flex: 1;
    margin-right: 40px;
}
.container input{
    display: flex;
    margin-top: 10px;
    width: 50%;
    height: 12%;
}
.container button{
    width: 50%;
    height: 12%;
    background: rgba(7, 118, 161, 0.836);
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}
.container .rightSide{
    flex: 1;
    margin-left: 40px;
}